.tag {
    // display: inline-flex;
    display: flex;
    align-items: center;
    padding: 0.25em 0.5em;
    border-radius: 2px;
    font-size: 12px;
    line-height: 1;
    background-color: #f5f5f5;
    color: #333;
    border: 1px solid #d9d9d9;

    &.red {
        background-color: #fde3e4;
        color: #f56c6c;
        border-color: #fde3e4;
    }

    &.green {
        background-color: #f0f9eb;
        color: #67c23a;
        border-color: #e1f3d8;
    }

    &.blue {
        background-color: #e6f7ff;
        color: #1890ff;
        border-color: #91d5ff;
    }

    &.purple {
        background-color: #f9f0ff;
        color: #722ed1;
        border-color: #d3adf7;
    }

    &.orange {
        background-color: #fff7e6;
        color: #fa8c16;
        border-color: #fff7e6;
    }

    &.cyan {
        background-color: #e6fffb;
        color: #13c2c2;
        border-color: #b2ebf6;
    }

    &.geekblue {
        background-color: #f0f5ff;
        color: #1890ff;
        border-color: #adc6ff;
    }

    &.magenta {
        background-color: #fff0f6;
        color: #eb2f96;
        border-color: #ffadd2;
    }

    &.volcano {
        background-color: #fff1f0;
        color: #fa541c;
        border-color: #ffccc7;
    }

    &.gold {
        background-color: #fffbe6;
        color: #faad14;
        border-color: #ffe599;
    }

    &.lime {
        background-color: #fff7e6;
        color: #a0d911;
        border-color: #f3f9eb;
    }

    &.light-gray {
        background-color: #a5a5a5;
        color: #666;
        border-color: #ddd;
    }

    .close-icon {
        margin-left: 8px;
        font-size: 12px;
        cursor: pointer;
    }
}