$movie-item-width: 22rem;

.movie-item {
  height: 40rem;
  width: $movie-item-width;
  padding: .4rem 0;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  background-color: #5a6065;
  text-align: center;
  position: relative;

  &.expanded {
    width: 32em;
  }

  &-link {
    margin: auto;
    width: $movie-item-width;
  }

}

.movie-image {
  max-height: 36rem;
  margin: auto;
  width: 100%;
  height: 100%;
  aspect-ratio: 2/3;
}
.movie-name {
  font-size: 1.6em;

  &-cont {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    flex-grow: 1;
  }
}

.movie-release-date {
}

// .info-button {
//   position: absolute;
//   right: -0.3em;
//   bottom: .2em;
//   font-size: 1.4em;
//   color: white;
//   background: none;
//   border: none;
// }
