$main-background-color: #31343f;
$nav-bar-color: #24262e;

/* HSL */
// $color1: hsla(227%, 13%, 22%, 1);
// $color2: hsla(208%, 71%, 51%, 1);
// $color3: hsla(3%, 33%, 61%, 1);
// $color4: hsla(269%, 48%, 69%, 1);
// $color5: hsla(215%, 64%, 71%, 1);

/* RGB */
$main-background-color: rgba(49, 52, 63, 1);
$color2: rgba(43, 137, 219, 1);
$color3: rgba(188, 125, 122, 1);
$color4: rgba(174, 137, 214, 1);
$color5: rgba(135, 174, 229, 1);
